
@{
    ViewData["Title"] = "Index";
}


    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Конструктор пиццы</title>
        <link rel="stylesheet" href="~/css/maker.css">
        <script src="~/js/maker.js" defer="defer"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
    
        <div>
        @{
        using (ApplicationContext db = new ApplicationContext())
        {
            <main>
                    <h2>Пицца-Мэйкер</h2>
                <div class="container">
                    <div class="first_item">
                        <div class="pizza-container">
                            <canvas id="pizza-canvas"></canvas>
                        
                        </div>

                        <div class="start_ingridients">
                            <div class="main_item">
                                <h3>Тесто</h3>
                                <select id="dough">
                                        <option value="Итальянское тесто">Итальянское тесто</option>
                                        <option value="Нью-йорское тесто">Нью-йоркское тесто</option>
                                </select>
                            </div>
                            <div class="main_item">
                                <h3>Соус</h3>
                                <select id="sauce">
                                        <option value="Без соуса"> -- Выберите соус -- </option>
                                        <option value="Томатный соус">Томатный соус</option>
                                        <option value="Сырный соус">Сырный соус</option>
                                        <option value="Соус Песто">Соус Песто</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="second_item">
                        <div class="ingridient_label">
                            <h3><span>Ингредиенты</span></h3>
                        </div>
                        <div class="ingredient-list">
                            <ul>
                            @{
                                foreach (Ingredient ing in db.Ingredients)
                                {
                                    <li class="ingredient">
                                        <input type="checkbox" id="@ing.Name">
                                        <label for="@ing.Name">
                                            <img src="~/css/Ingredients/@ing.Photo" alt="@ing.Name">                                      
                                        </label>
                                        <div class="ingredient-info">
                                            <span class="ingredient-name">@ing.Name</span>                                                                                     
                                        </div>
                                        <footer class="content">
                                            <button id="@ing.Name" class="qt-minus"><span>-</span></button>
                                                    <span id="@ing.Name" class="qt">0</span>
                                            <button id="@ing.Name" class="qt-plus"><span>+</span></button>
                                        </footer>
                                    </li>
                                }

                            }
                            </ul>
                        </div>
                    </div>
                    
                    </div>
                    @{

                        <footer class="card__price__and__add">
                            <div class="third_item">
                                <!-- Цены на товара-->
                                <h2 id="full-price" class="full-price">
                                    0₽
                                </h2>
                                <button class="add-to-cart-btn">В корзину</button>
                            </div>
                        </footer>
                    }
                </main>
            }
        }
    </div>
          
    </body>
</html>


