
@{
    ViewData["Title"] = "Index";
}

<head>
     <link rel="stylesheet" href="~/css/Menu.css">
     <script src="~/js/menu.js" defer="defer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <div class="cards">
        @{
            using (ApplicationContext db_menu = new ApplicationContext())
            {
                foreach (Pizza pizza in db_menu.Pizzas)
                {
                    if (pizza.Name != "Пицца по твоим правилам")
                    {
                        <!-- Карточка товара -->
                    <div class="card" href="#">
                            <!-- Верхняя часть -->
                        <div class="card__top">
                            <!-- Изображение-ссылка товара -->
                            <div class="card__image">
                                <img src="~/css/Photo/@pizza.Photo" />

                            </div>
                        </div>
                        <!-- Нижняя часть -->
                        <div class="card__bottom">
                            <!-- Ссылка-название товара -->
                            <div class="card__title">
                                @pizza.Name
                            </div>
                            <div class="card__space">
                                <!-- Описание товара -->
                                <div class="card__description">
                                    @pizza.Description
                                </div>
                                <footer class="card__price__and__add">
                                    <!-- Цены на товара-->
                                    <div class="card__prices">
                                        <div class="card__price card__price--common">
                                            @pizza.Price₽
                                            @{
                                                if(db_menu.Authorizeds.ToList().Count == 0)
                                                {

                                                    <button id="0"  class="card__add">В корзину</button>

                                                }
                                                else
                                                {
                                                    <button id="@pizza.PizzaId" class="card__add" value="@db_menu.Authorizeds.ToList().FirstOrDefault().AuthorizedId">В корзину</button>
                                                }
                                            }
                                        </div>                                                                                  
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    }
                }
            }
        }
    </div>
</body>


